body {
  font-family: 'Press Start 2P', cursive;
  background-color: #282c34;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  color: #ffcc00;
  text-shadow: 2px 2px 5px #000000;
}

h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ff5722;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  background-color: #1f2022;
  color: #ffffff;
}

.button {
  background-color: #ff5722;
  color: #ffffff;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.button:hover {
  background-color: #e64a19;
}

.truco {
  background-color: #ffcc00;
  color: #000000;
}

.truco:hover {
  background-color: #e6b800;
}

.subtrair {
  background-color: #d32f2f;
  color: #ffffff;
}

.subtrair:hover {
  background-color: #c62828;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 20px;
  color: #76ff03;
  text-shadow: 1px 1px 3px #000000;
}

footer {
  margin-top: 20px;
  color: #ffcc00;
  font-size: 0.8em;
}
