* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .container {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .config input {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .contador {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .time {
    text-align: center;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .mensagem {
    font-size: 36px;
    margin-top: 50px;
    color: #ffcc00;
  }
  
  .historico {
    margin-top: 50px;
  }
  
  #historicoList {
    list-style-type: none;
    margin-top: 10px;
  }
  
  #historicoList li {
    background-color: #333;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  footer {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
  }
  