* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}

#titulo {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #FFCC00;
  font-family: 'Press Start 2P', cursive; /* Fonte personalizada para o título */
}

.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.config input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFCC00;
  border: none;
  color: white;
}

.button:hover {
  background-color: #FF9900;
}

/* Estilo dos botões +1 e -1 */
.pontos {
  background-color: #800080; /* Cor roxa */
  color: white;
  border: none;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.pontos:hover {
  background-color: #660066; /* Cor roxa escura para o efeito hover */
  transform: scale(1.05); /* Efeito de zoom suave ao passar o mouse */
}

.pontos:active {
  background-color: #FFCC00; /* Cor amarela ao clicar */
  transform: scale(0.95); /* Efeito de clique (botão encolhe ligeiramente) */
}

.truco {
  background-color: #FF6600; /* Cor para o botão
